#!/usr/bin/env bash

{{- if eq .chezmoi.os "darwin" }}
# macOS-specific configurations

# Sets up zshenv to source the .zshenv file in $HOME/.config/zsh
if [ ! -f /etc/zshenv ]; then
  echo "No /etc/zshenv found, creating one"
  printf "%s\n%s\n" 'ZDOTDIR="$HOME/.config/zsh"' 'source $ZDOTDIR/.zshenv' | sudo tee /etc/zshenv > /dev/null
fi

# Set key repeating defaults for vim in vscode
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false              # For VS Code
defaults write com.microsoft.VSCodeInsiders ApplePressAndHoldEnabled -bool false      # For VS Code Insider
defaults write com.visualstudio.code.oss ApplePressAndHoldEnabled -bool false         # For VS Codium
defaults write com.microsoft.VSCodeExploration ApplePressAndHoldEnabled -bool false   # For VS Codium Exploration users

# Set key delay and repeat settings
defaults write -g InitialKeyRepeat -int 15
defaults write -g KeyRepeat -int 2

# Set iterm to use custom preferences
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "$HOME/.config/iterm2"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true

# Copy iterm2 preferences
if [[ ! -d "$HOME/.config/iterm2" ]]; then
  mkdir -p "$HOME/.config/iterm2"
fi
cp "$HOME/.local/share/chezmoi/com.googlecode.iterm2.plist" "$HOME/.config/iterm2"

{{- else if eq .chezmoi.os "linux" }}
# Linux-specific configurations

# Change default shell to zsh if not already set
if [ "$SHELL" != "$(which zsh)" ]; then
  echo "Changing default shell to zsh..."
  # Use sudo chsh to avoid password prompt
  sudo chsh -s "$(which zsh)" "$USER"
fi

{{- end }}

# Common configurations for both macOS and Linux

# Create code_home directory
user_code_home={{ .code_home | quote }}
if [[ ! -d "$user_code_home" ]]; then
  mkdir -p "$user_code_home"
fi