{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if [ ! -f /etc/zshenv ]; then
  echo "No /etc/zshenv found, creating one"
  printf "%s\n%s\n" 'ZDOTDIR="$HOME/.config/zsh"' 'source $ZDOTDIR/.zshenv' | sudo tee /etc/zshenv > /dev/null
fi

{{ end }}