{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask-fonts"

brew "chezmoi"      # dotfile manager
brew "neovim"       # vim
brew "vivid"        # LS_COLORS generator
brew "gnu-sed"      # sed (GNU)
brew "coreutils"    # GNU core utilities
brew "grep"         # grep (GNU)
brew "gnu-tar"      # tar (GNU)
brew "fd"           # find alternative
brew "gawk"         # dependency for asdf node-js
brew "gpg"          # dependency for asdf node-js
brew "jq"           # json cli interpreter 
brew "asdf"         # asdf version manager
brew "bat"          # syntax enabled cat
brew "httpie"       # http cli
brew "wget"         # wget
brew "fzf"          # fuzzy finder  

# Add fonts
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "1password/tap/1password-cli"
cask "discord"
cask "visual-studio-code"
cask "iterm2"
cask "google-chrome"
cask "brave-browser"
cask "slack"
cask "spotify"
cask "docker"
EOF
{{ end -}}
