{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# SETUP HOMEBREW PATH
[ -d "/opt/homebrew/bin/" ] &&
  _BREW="/opt/homebrew/bin" ||
  _BREW="/usr/local/bin"

# INITIALIZE CLI TOOLS FUNCTIONS
[ -n "$(command -v $_BREW/brew)" ] &&
  eval "$($_BREW/brew shellenv)"


{{- $brewfile := joinPath .chezmoi.sourceDir "dot_config/brew/Brewfile" -}}
# Brewfile hash: {{ include $brewfile | sha256sum }}
brew bundle --no-lock --force --file={{ joinPath .chezmoi.sourceDir "dot_config/brew/Brewfile" | quote }}
{{ end -}}
