{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Make sure brew is setup
eval "$(/opt/homebrew/bin/brew shellenv)"

# ensure brew is updated
brew update

{{ $brewfile := joinPath .chezmoi.sourceDir "dot_config/brew/Brewfile" -}}
# Brewfile hash: {{ include $brewfile | sha256sum }}
brew bundle install --force --file={{ joinPath .chezmoi.sourceDir "dot_config/brew/Brewfile" | quote }}
{{ end -}}
