{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work_email := promptStringOnce . "work_email" "Work email address" -}}

[data]
  email = {{ $email | quote }}
  work_email = {{ $work_email | quote }}
[git]
  autoCommit = true
[edit]
  command = "nvim"
[diff]
  command = "code"
  args = ["--wait",  "--diff", "{{ .Target }}", "{{ .Destination }}"]
[merge]
  command = "nvim"
  args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
