{{- $email := promptStringOnce . "email" "Email address (used for git)" -}}
{{- $name := promptStringOnce . "name" "Full name (used for git)" -}}

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
git:
  autoCommit: false
edit:
  command: "code"
  args: "--wait"
diff:
  command: "code"
  args: ["--wait",  "--diff", "{{ "{{" }} .Target {{ "}}" }}", "{{ "{{" }} .Destination {{ "}}" }}"]
merge:
  command: "code"
  args: ["--wait",  "--diff", "{{ "{{" }} .Target {{ "}}" }}", "{{ "{{" }} .Destination {{ "}}" }}"]
