# vim: syntax=gitconfig

[user]
  email = {{ .email }}
  name = Ben Marden
{{- if .use_1password }}
  signingKey = {{- (onepasswordDetailsFields "GH SSH Key").public_key.value }}
{{- end }}
{{- if .use_1password }}
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else }}
  program = "{{ .chezmoi.homeDir }}/.1password/op-ssh-sign"
{{- end }}
{{- end }}
[core]
	editor = nvim
  excludesFile = ~/.config/git/ignore
[diff]
	tool = codediff
[merge]
  tool = codediff
[mergetool "codediff"]
  cmd = 'nvim "$MERGED" -c "CodeDiff merge \"$MERGED\""'
[difftool "codediff"]
  cmd = 'nvim "$LOCAL" "$REMOTE" +"CodeDiff file $LOCAL $REMOTE"'
[pager]
  branch = false
  stash = false
[init]
  defaultBranch = main
