# vim: syntax=gitconfig

[user]
  email = {{ .email }}
  name = Ben Marden
  signingKey = {{- (onepasswordDetailsFields "GitHub SSH Key").public_key.value }}
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers
[core]
	editor = nvim
[diff]
	tool = nvim
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
  tool = nvim
[pager]
  branch = false
  stash = false
[init]
  defaultBranch = main