# vim: syntax=gitconfig

[user]
	email = {{ .email }}
	name = Ben Marden
[includeIf "gitdir:~/code/ik/"]
  path = ~/.config/git/config-ik 
[core]
	editor = nvim
[diff]
	tool = nvim
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[pager]
  branch = false
  stash = false
